<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dynamixel">
    
    <link name="dynamixel_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 3.14159" />
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/Dynamixel.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 3.14159" />
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/Dynamixel.dae"/>
            </geometry>
        </collision>
    </link>

    <joint name="dynamixel_to_camera_riser" type="fixed">
        <parent link="camera_riser_link"/>
        <child link="dynamixel_link"/>
        <origin xyz="0 0 -0.0111"/>
    </joint>

    <!-- DYNAMIXEL TOP - ROTATION -->
    <link name="dynamixel_top_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/Dynamixel_top.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 3.14159" />
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/Dynamixel_top.dae"/>
            </geometry>
        </collision>

        <!-- <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.20" />
            <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.015" iyz="0" izz="0.01"/>
        </inertial> -->
    </link>

    <joint name="dynamixel_top_to_dynamixel" type="revolute">
        <parent link="dynamixel_link"/>
        <child link="dynamixel_top_link"/>
        <origin xyz="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" effort="5.0" velocity="2.0"/>
    </joint>

</robot>