<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="orbbec_camera_assembly">
    
    <link name="orbbec_camera_assembly_link">
        <visual>
            <origin xyz="-0.05509 0 -0.05362" rpy="0 0 0"/>    
            <!-- joint origin + neg offset dyna a soporte -->
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/OrbbecCameraAssembly.dae"/>
            </geometry>
            <transparency>0</transparency> 
        </visual>

        <collision>
            <origin xyz="-0.05509 0 -0.05362" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/OrbbecCameraAssembly.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="2.95" />
            <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.015" iyz="0" izz="0.01"/>
        </inertial> 
    </link>


    <joint name="orbbec_camera_assembly_to_dynamixel_top" type="fixed">
        <parent link="dynamixel_top_link"/>
        <child link="orbbec_camera_assembly_link"/>
        <origin xyz="0.05509 0 0.05362" rpy="0 0 0"/>
        
        <!-- <origin xyz="0.054356 0 0.055118" rpy="0 ${-3.14159/18} 0"/> -->
        
        <!-- <origin xyz="0.054356 0 0.055118" - <origin xyz="0 0 -0.00086" rpy="0 0 0"/> rgbd-soport_cam antiguos -->
    </joint> 

</robot>