<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
 

    <link name="rgbd_camera_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.03 0.03"/>
            </geometry>
        </visual>
    </link>

    <joint name="rgbd_camera_to_payload" type="fixed">
        <parent link="payload_link"/>
        <child link="rgbd_camera_link"/>
        <origin xyz="0.174 0 0.15" rpy="0 0 0"/>
    </joint>

    <link name="rgbd_camera_link_optical"></link>

    <joint name="depth_camera_optical_joint" type="fixed">
        <parent link="rgbd_camera_link"/>
        <child link="rgbd_camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-3.14159/2} 0 ${-3.14159/2}"/>
    </joint>
    
    <gazebo reference="rgbd_camera_link">

        <material>
            <ambient>1 0 1 1 </ambient>
            <diffuse>1 0 1 1 </diffuse>
            <specular>1 0 1 1 </specular>
        </material>

        <sensor name='rgbd_camera' type='rgbd_camera'>    

            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ignition_frame_id>rgbd_camera_link</ignition_frame_id>
            <!-- <topic>/camera/depth/image_raw</topic> -->
            <camera>
                <horizontal_fov>1.047</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <!-- The near and far clip planes. Objects closer or farther than these planes are not rendered. -->
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>

            <depth_camera>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
                <output>depth</output>
            </depth_camera>
            
            <plugin filename="libignition-gazebo-sensors-system.so" name="ignition::gazebo::systems::Sensors">
                <render_engine>ogre2</render_engine>
                <frame_name>rgbd_camera_link</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>100</max_depth>
            </plugin>

        </sensor>

    </gazebo>

</robot>