<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_mini_soporte_camaras_orbec">
    
    <link name="soporte_camaras_orbec">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/Soporte_con_Orbec.dae"/>
            </geometry>
            <transparency>0</transparency> 
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/Soporte_con_Orbec.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="2.95" />
            <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.015" iyz="0" izz="0.01"/>
        </inertial> 
    </link>


    <joint name="soporte_camaras_to_base_columnas" type="revolute">
        <parent link="base_columnas"/>
        <child link="soporte_camaras_orbec"/>
        <origin xyz="0 0 -0.01196" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.5708" upper="1.5708" effort="5.0" velocity="2.0"/>
    </joint> 

</robot>